configuration {
    modi: "drun";
    show-icons: false;
    drun-display-format: "{name}";
    font: "JetBrainsMono Nerd Font 12";
}

mainbox {
    background-color: transparent;
}

inputbar {
    background-color: #1a1a1a;
    text-color: #ffffff;
    padding: 8px;
    border-radius: 8px;
}

listview {
    lines: 6;
    spacing: 6px;
}

element {
    background-color: transparent;
    text-color: #0f0f0f;
}

* {
    background: #0b0b0b;
    foreground: #ffffff;
    accent: #809dbd;
}

window {
    width: 30%;
    location: center;
    anchor: center;

    border: 2px;
    border-color: #382f4e;

    border-radius: 0px;
}

element selected {
    background-color: @accent;
    text-color: #000000;
}
drun {
    show-actions: false;
    display-name: false;
}

//@theme "/usr/share/rofi/themes/material.rasi"
element-icon {
    enabled: false;
    size: 0px;
}

listview {
    columns: 1;
    lines: 8;
}

element-text {
    vertical-align: 0.5;
}
inputbar {
    children: [ entry ];
}
mode-switcher {
    enabled: false;
}

@theme "/nix/store/f6jj0h6nn40cv8hq7ksgikx04vayxjlw-rofi-2.0.0/share/rofi/themes/material.rasi"
