@theme "material"

configuration {
    modi: "drun";
    show-icons: false;
    drun-display-format: "{name}";
    font: "JetBrainsMono Nerd Font 12";
}

mainbox {
    background-color: transparent;
}

inputbar {
    text-color: #ffffff;
    padding: 8px;
    border-radius: 8px;
}

listview {
    scrollbar: false;
}

element {
    background-color: transparent;
    text-color: #0f0f0f;
}

* {
    background: #0b0b0b;
    foreground: #ffffff;
    accent: #809dbd;
}

window {
    width: 30%;
    location: center;
    anchor: center;

    border-radius: 0px;
}

element selected {
    background-color: @accent;
    text-color: #000000;
}
drun {
    show-actions: false;
    display-name: false;
}

element-icon {
    enabled: false;
    size: 0px;
}

listview {
    columns: 1;
    lines: 8;
}

element-text {
    vertical-align: 0.5;
}
inputbar {
    children: [ entry ];
}
mode-switcher {
    enabled: false;
}

