* {
    font-family: "Cozette";
    font-size: 13px;
    font-weight: normal;
}

window#waybar {
    background: transparent;
}

#waybar {
    color: #ffffff;
}

#pulseaudio,
#clock,
#memory,
#cpu {
    background: rgba(0, 0, 0, 0);
    border-radius: 0px;

    padding: 2px 12px;
    margin: 2px 6px;

    min-height: 10px;
}

#pulseaudio {
    margin-left: 10px;
}

#cpu {
    margin-right: 10px;
}
